/*--------------main---------------*/
.main_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container{
    overflow: hidden;
    width: 97%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/*--------------header---------------*/
.header_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: 8vh;
    transition: top 2s;
}
.header_container_bfr{
    top: -8vh;
}
.header_container_aft{
    top: 0vh;
}
.hc_icon{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 65%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-color: #0071e3;
}
.hc_icon_text{
    color: #fff;
}
.hc_company_name{
    cursor: pointer;
    margin-left: 1%;
    margin-right: 7%;
}
.hc_text_cont{
    display: flex;
    flex-direction: row;
    position: relative;
    width: max-content;
    height: max-content;
    transition: transform 0.4s, left 0.4s;
}
.hc_text_cont_bfr{ /*Debugger, real bfr is in queries*/
    transform: translateX(0%);
}
.hc_text_cont_aft{
    transform: translateX(0%);
}
.hc_nav_element{
    cursor: pointer;
    margin-right: 2vw;
}
#hc_nav_bars{
    cursor: pointer;
    display: none;
    font-size: 130%;
    color: #16192a;
}
.hc_buttons_container{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
}
.hc_button{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 170px;
    height: 4.5vh;
    border-radius: 50px;
}
.hc_button1{
    margin-right: 10%;
    border: 1px solid #16192a;
    font-size: 80%;
    font-weight: 500;
}
.hc_button2{
    background-color: #16192a;
}
.hc_b2_text{
    position: absolute;
    left: 15%;
    font-size: 80%;
    color: #fff;
}
.hc_b2_subcont{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    right: 4%;
    height: 75%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    color: #16192a;
    transition: 0.2s padding-left;
}

/*-----------banner container-----------------*/
.banner_container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 2vh;
    width: 100%;
    height: 88vh;
    transition: 2s top;
}
.banner_container_bfr{
    top: 10vh;
}
.banner_container_aft{
    top: 0vh;
}
.bc_subcont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 69%;

    border-radius: 11px;
    background: linear-gradient(135deg,rgba(235, 245, 255, 1) 0%, rgba(140, 218, 238, 1) 35%, rgba(1, 112, 227, 1) 98%);
}

.bc_sc1_element{
    transition: 3s top;
}
.bc_sc1_element_bfr{
    top: 20%;
}
.bc_sc1_element_aft{
    top: 0%;
}
.bc_sc1_nav_cont{
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 0.4%;
    width: 480px;
    height: 40px;
    border-radius: 50px;
    background-color: #c6ecf7;
    color: #16192a;
}
.bc_sc1_nc_text1_cont{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
    margin-right: 5%;
    height: 100%;
    width: max-content;
    border-radius: 50px;
    background-color: #f3fbfd;
}
.bc_sc1_nc_text1{
    position: relative;
    white-space: nowrap;
}
.bc_sc1_nc_text2{
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    margin-right: 3%;
}
.bc_sc1_nc_arrow{
    cursor: pointer;
    position: relative;
    left: 0;
    transition: 0.3s;
}
.bc_sc1_nc_arrow:hover{
    left: 1%;
}


.bc_sc1_text1_container{
    position: relative;
    text-align: center;
    margin-top: 3%;
    width: 80%;
}
.bc_sc1_text1{
    font-size: 700%;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 105%;
}

.bc_sc1_text2_container{
    position: relative;
    text-align: center;
    margin-top: 3%;
    width: 55%;
}
.bc_sc1_text2{
    line-height: 170%;
    font-size: 110%;
}

.bc_sc1_button{
    margin-top: 5%;
    width: 250px;
    height: 7vh;
    background-color: #16192a;
}

.bc_subcont2{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 30%;

    border-radius: 11px;
    background-color: #cde3fa;
}

.bc_sc2_image{
    user-select: none;
    position: absolute;
    transform: translate(-50%, 8%);
    bottom: 0;
    left: 50%;
    height: 90%;
}

.bc_sc2_callername_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    padding-left: 2%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 8%;
    border-radius: 18px;
    background-color: #fff;
}
.bc_sc2_cc_pfp{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 10%;
    height: 70%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #0071e3;
}
.bc_sc2_cc_pfp_text{
    color: #fff;
}
.bc_sc2_cc_name{
    cursor: pointer;
}

.bc_sc2_call_buttons_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: 13%;

    border-radius: 18px;

    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.bc_sc2_cbc_button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.bc_sc2_cbc_button1, .bc_sc2_cbc_button3{
    height: 50%;
    background-color: #fff;
    color: #16192a;
}
.bc_sc2_cbc_button2{
    height: 60%;
    margin-left: 7%;
    margin-right: 7%;
    background-color: #ff5959;
    color: #fff;
}


.bc_calling_container{
    display: flex;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    padding-left: 0.5%;
    left: 62%;
    top: 60%;
    width: 12%;
    height: 8%;
    border-radius: 14px;
    background-color: #fff;
}
.bc_cc_pfp_cont{
    overflow: hidden;
    position: relative;
    height: 75%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.bc_cc_pfp_img{
    position: absolute;
    width: 150%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
}
.bc_cc_text1{
    margin-left: 12%;
}
.bc_cc_arrow{
    cursor: pointer;
    position: absolute;
    right: 10%;
    rotate: -45deg;
}

/*-----------features container------------*/
.features_container{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10vh;
    width: 100%;
    height: max-content;
    transition: 2s opacity;
}
.features_container_bfr{
    opacity: 0;
}
.features_container_aft{
    opacity: 1;
}
.fc_subcont1{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: max-content;
}
.fc_sc1_textcont{
    text-align: center;
    width: 40%;
}
.fc_sc1_text{
    font-size: 350%;
}
.fc_subcont2{
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    overflow: hidden;
    cursor: grab;
    position: relative;
    width: 100%;
    height: max-content;
}
.fc_subcont2:active{
    cursor: grabbing;
}
.fc_subcont2_sc{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: max-content;
    height: 100%;
}
.fc_sc2_service_cont{
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 1%;
    margin-right: 1.5vw;
    width: 40vw;
    height: auto;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px 0px #dbdbdb;
}
.fc_sc2_sc_icon_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 7%;
    width: 60px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #0071e3;

    font-size: 120%;
    color: #fff;
}
.fc_sc2_sc_text1{
    position: relative;
    margin-bottom: 3%;
    font-size: 150%;
}
.fc_sc2_sc_text2{
    font-size: 100%;
}

.fc_sc2_sc_button{
    margin-top: 7%;
    width: 35%;
    height: 55px;
    font-size: 90%;
}

/*-----------about container-----------*/
.about_container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    position: relative;
    margin-top: 20vh;
    width: 100%;
    height: 42vh;
    transition: 2s opacity;
}
.about_container_bfr{
    opacity: 0;
}
.about_container_aft{
    opacity: 1;
}
.ac_subcont1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 3%;
    width: 53%;
    height: 100%;

    border-radius: 16px;
    background-color: #f9f9f9;
}
.ac_sc1_text1{
    margin-bottom: 4%;
    font-size: 320%;
}
.ac_sc1_text2{
    margin-bottom: 3%;
    font-size: 100%;
}
.ac_sc1_text3{
    font-size: 100%;
}


.ac_subcont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 45%;
    height: 100%;

    border-radius: 16px;
    background-color: #0071e3;
}
.ac_sc2_image{
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 16px 16px;
}


/*-------------partners container------------*/
.partners_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 15vh;
    width: 100%;
    height: max-content;
}

.pc_text1_cont{
    position: relative;
    text-align: center;
    margin-bottom: 2%;
    width: 40%;
}
.pc_text1{
    font-size: 330%;
}

.pc_text2_cont{
    position: relative;
    text-align: center;
    margin-bottom: 3%;
    width: 40%;
}
.pc_text2{
    font-size: 110%;
}

.pc_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 80%;
    height: 12vh;
    transition: 2s left, 2s right;
}
.pc_row1_bfr{
    left: -10%;
}
.pc_row1_aft{
    left: 0%;
}
.pc_row2_bfr{
    right: -10%;
}
.pc_row2_aft{
    right: 0%;
}
.pc_r_partner{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80%;
    border-radius: 11px;
    background-color: #f8f8f8;
}
.pc_r_partner img{
    height: 90%;
}
.pc_r_p_short{
    width: 13%;
}
.pc_r_p_long{
    width: 18.333%;
}

/*-------------doctors container----------*/
.doctors_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: 15vh;
    width: 100%;
    height: 80vh;
}

.dc_subcont1{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 35%;
    transition: 2s opacity;
}
.dc_subcont1_bfr{
    opacity: 0;
}
.dc_subcont1_aft{
    opacity: 1;
}
.dc_sc1_text1_cont{
    position: relative;
    margin-bottom: 2%;
    text-align: center;
    width: 45%;
}
.dc_sc1_text1{
    font-size: 400%;
}
.dc_sc1_text2_cont{
    position: relative;
    text-align: center;
    width: 35%;
}
.dc_sc1_text2{
    font-size: 120%;
}


.dc_subcont2{
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 54%;
    transition: 2s left;
}

.dc_sc2_doctor_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 3%;
    padding-top: 5%;
    padding-right: 8%;
    width: 32%;
    height: 100%;
    border-radius: 60px;
    background-color: #f9f9f9;
}
.dc_sc2_dc_more_cont{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 8vw;
    height: 8vw;
    border-radius: 0 0 0 60px;
    background-color: #fff;
}
.dc_sc2_dc_more_cont::after{
    z-index: 1;
    content: "";
    position: absolute;
    transform: translateX(-100%);
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    border-radius: 0 60px 0 0;
    background: none;
    box-shadow: 100px -100px 0px 100px #ffffff;
}
.dc_sc2_dc_more_cont::before{
    z-index: 1;
    content: "";
    position: absolute;
    transform: translateY(100%);
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    border-radius: 0 60px 0 0;
    background: none;
    box-shadow: 100px -100px 0px 100px #ffffff;
}
.dc_sc2_dc_mc_more{
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #f9f9f9;
    color: #959595;
    font-size: 350%;
}
.dc_sc2_doctor_cont1{
    z-index: 2;
}
.dc_sc2_doctor_cont2{
    z-index: 3;
}
.dc_sc2_doctor_cont3{
    z-index: 4;
}
.dc_sc2_dc_pfp_cont{
    z-index: 2;
    overflow: hidden;
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    width: 90px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.dc_sc2_dc_pfp{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    height: 150%;
}
.dc_sc2_dc_text1{
    margin-bottom: 1%;
    font-size: 240%;
}
.dc_sc2_dc_text2{
    margin-bottom: 6%;
    font-size: 110%;
}
.dc_sc2_dc_text3{
    font-size: 110%;
}

.dc_sc2_dc_icon_cont{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 10%;
    width: 70px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #0071e3;

    font-size: 150%;
    color: #fff;
}


/*------------quote container------------*/
.quote_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 15vh;
    width: 85%;
    height: max-content;
}
.qc_text1{
    font-size: 400%;
}

.qc_button{
    margin-top: 5%;
    width: 310px;
    height: 7vh;
    font-size: 110%;
}


/*-------------benefits_container-----------*/
.benefits_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 15vh;
    width: 100%;
    height: 70vh;
    transition: 2s top;
}
.benefits_container_bfr{
    top: 10vh;
}
.benefits_container_aft{
    top: 0vh;
}
.bnfc_subcont1{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 40%;
    height: 100%;
    border-radius: 14px;
}
.bnfc_sc1_img{
    z-index: 1;
    position: absolute;
    height: 100%;
}

.bnfc_sc1_doctor_cont{
    cursor: pointer;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 65px;
    height: max-content;
}
.bnfc_sc1_doctor_cont1{
    left: 10%;
    top: 20%;
}
.bnfc_sc1_doctor_cont2{
    right: 1%;
    top: 40%;
}
.bnfc_sc1_doctor_cont3{
    left: 45%;
    bottom: 0%;
}
.bnfc_sc1_dc_pfp{
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid #0071e3;
}
.bnfc_sc1_dc_pfp_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    height: 160%;
}
.bnfc_sc1_dc_rate{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(-50%);
    width: 100%;
    height: 3vh;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px #dbdbdb;
    color: #fec92c;
    font-size: 90%;
}
.bnfc_sc1_dc_r_star{
    margin-right: 10%;
}

.bnfc_sc1_subcont{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 4%;
    width: 70%;
    height: 45%;
    left: 0;
    top: 0;
    border-radius: 22px;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px #dbdbdb;
}
.bnfc_sc1_sc_profile_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: 30%;
}
.bnfc_sc1_sc_pc_pfp{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: 90%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid #0071e3;
}
.bnfc_sc1_sc_pc_pfp_img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    height: 150%;
}
.bnfc_sc1_sc_pc_text_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: 5%;
    width: max-content;
    height: 100%;
}
.bnfc_sc1_sc_pc_tc_text1{
    margin-bottom: 2%;
    font-size: 150%;
}
.bnfc_sc1_sc_rate{
    cursor: pointer;
    position: absolute;
    right: 0;
}
.bnfc_sc1_sc_rate_star{
    color: #fec92c;
}

.bnfc_sc1_sc_text_cont{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 70%;;
}
.bnfc_sc1_sc_tc_text_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 65%;
}
.bnfc_sc1_sc_tc_text{
    position: relative;
    margin-bottom: 3%;
}
.bnfc_sc1_sc_tc_text_icon{
    position: relative;
    margin-right: 2%;
}
.bnfc_sc1_sc_tc_buttons_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 35%;
}
.bnfc_sc1_sc_tc_bc_button1{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 75%;
    height: 100%;
    border-radius: 50px;
    background-color: #0071e3;
    color: #fff;
    transition: 0.2s background-color;
}
.bnfc_sc1_sc_tc_bc_button1:hover{
    background-color: #1b81e6;
}
.bnfc_sc1_sc_tc_bc_button2{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #16192a;
    color: #16192a;
    transition: 0.1s padding-bottom;
}
.bnfc_sc1_sc_tc_bc_button2:hover{
    padding-bottom: 1%;
}

.bnfc_subcont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 3%;
    width: 58%;
    height: 100%;
    border-radius: 14px;
    background-color: #f9f9f9;
}
.bnfc_sc2_text1{
    position: relative;
    margin-bottom: 2%;
    font-size: 330%;
}
.bnfc_sc2_text2_cont{
    width: 63%;
}
.bnfc_sc2_text2{
    font-size: 120%;
}
.bnfc_sc2_benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 6%;
    width: 100%;
    height: 30%;
}
.bnfc_sc2_bnf_subcont1, .bnfc_sc2_bnf_subcont2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 45%;
    height: 100%;
}

.bnfc_sc2_bnf_text{
    display: flex;
    font-size: 110%;
    margin-bottom: 6%;
}
.bnfc_check{
    position: relative;
    margin-right: 5%;
    font-size: 130%;
    color: #0071e3;
}

.bnfc_sc2_button{
    margin-top: 5%;
    width: 240px;
    height: 12%;
}


/*-------------quote container2-------------*/
.quote_container2{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 15vh;
    width: 100%;
    height: max-content;
    border-radius: 11px;
}

.qc2_image{
    position: absolute;
    width: 100%;
    height: auto;
}

.qc2_text{
    position: relative;
    font-size: 400%;
    color: #fff;
}

.qc2_button{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3%;
    width: 20%;
    height: 7vh;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: 0.2s;
}
.qc2_button:hover{
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
}
.qc2_button_text{
    font-size: 110%;
    color: #fff;
}


/*------------credits container-------------*/
.credits_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding-top: 5%;
    margin-top: 15vh;
    width: 100%;
    height: max-content;
    background-color: #16192a;
}

.cc_subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 45vh;
}
.cc_sc_subcont{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 25%;
}
.cc_sc_subcont2{
    align-items: center;
}
.cc_sc_sc2_text_cont{
    width: max-content;
    height: 100%;
}
.cc_sc_sc_text1{
    display: block;
    position: relative;
    margin-bottom: 4vh;
    font-size: 100%;
    color: #fff;
}
.cc_sc_sc_text2{
    display: block;
    position: relative;
    margin-bottom: 3vh;
    font-size: 120%;
    color: #fff;
}

.cc_sc_sc_company_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: max-content;
}
.cc_sc_sc_cc_logo{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: 7.5vh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #0071e3;
    color: #fff;
    font-size: 110%;
    font-weight: 500;
}
.cc_sc_sc_cc_name{
    cursor: pointer;
    position: relative;
    margin-left: 5%;
    font-size: 120%;
    color: #fff;
}

.cc_sc_sc_button{
    margin-top: 20%;
    width: 280px;
    height: 15%;
    font-size: 110%;
}

.cc_ct_container{
    display: flex;
    position: relative;
    margin-bottom: 2vh;
    width: 80%;
    height: max-content;
}
.cc_copyright_text{
    position: relative;
    left: 0;
    top: 0;
    font-size: 100%;
    color: #fff;
}