*{
    scroll-behavior: smooth;
    margin: 0;

    font-family: Inter;
}
body{
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;

    background-color: #ffffff;
    transition: opacity 3s;
}

a{
    all: unset;
    
    color: #1c1b1b;
    cursor: pointer;
}
p{
    color: #1c1b1b;
}


